/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff 145% 80% no-repeat;
		font: 14px/21px Frutiger, Tahoma, Verdana, Segoe, sans-serif;
		color: #58595B;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 .container {
	 left: 10px;
 }
 .fb-comments, .fb-comments span, .fb-comments iframe {width: 100% !important;}
 .comment-area {margin-top: 20px;}

/* #Typography
================================================== */
	h1, h3, h4, h5, h6 {
		color: #929497;
		font-weight: normal;
		text-transform: lowercase;
		font-variant: small-caps;
		letter-spacing: 2px;
		 
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 36px; line-height: 40px; margin-bottom: 14px; font-weight: bold;
		background: url('../../images/line.png') bottom right no-repeat; padding: 20px 0;
	}
	h2 { font-size: 28px; line-height: 30px; margin-bottom: 0px; }
	h3 { font-size: 21px; line-height: 24px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: none; clear: both; margin: 10px 0 30px; height: 0; }



/* Primary content
================================================== */
	.factoid {
		font-size: 1.5em;
		line-height: 1.6em;
		font-family: "museo-slab-light", Georgia, sans-serif;
		margin-bottom: 30px;
	} 
	.factoid em {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .9em;
		font-style: normal;
	}
	
	.time {
		font-size: 800%;
		font-family: digital;
		line-height:.75em;
	}
	
	.coords {
		padding-top: 10px;
		padding-bottom: 10px;
		background: url('../../images/coord-marker.png') 15px center no-repeat;
		color: #fff;
		margin-bottom: 70px;
	}
	.coords p {
		margin: 0 0 0 50px;
		font-size: 1.1em;
	}
	
	.narration {
		line-height: 1.8em;
		text-align: justify;
	}
	
	img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ }


	.extra-images {
		display: none;
	}
	#viewmore {
		display: block;
		font-weight: bold;
		color: #fff;
		text-align: right;
		text-decoration: none;
		padding: 5px 10px;
	}

	blockquote {
		font-size: 1.5em;
		font-style: italic;
		margin: 3em 0 .5em 0;
		quotes:none;
		border: none;
		padding: 0;
		font-family: "museo-slab-light", Georgia, sans-serif;
	} 
	.bqstart {
		float: left;
		font-family: Georgia,serif;
		font-size: 600%;
		font-style: normal;
		height: 65px;
		margin-bottom: -70px;
		margin-top: -20px;
		padding-top: 45px;
	} 

	.quote_source {
		font-family: "museo-slab-light", Georgia, sans-serif;
		font-weight: bold;
		margin: 0px 0 4em 0px;
		color: #58595B;
		font-size:1.1em;
	}







/* sidebar
================================================== */
	#sidebar {
		position: absolute;
		top: 0;
		left: -290px;
		/*height: 100%;*/
		position: fixed;
		width: 340px;
		transition: all 200ms linear;
	} 
	#sidebar:hover, #sidebar.active {
		left: 0px;
		transition: all 200ms linear;
	}
	
	#sidebar ul {
		width: 300px;
		top: 20px;
		padding-right: 21px;
		position: relative;
		background: url('../../images/sidebar-hidden.png') center right no-repeat ;
	}
	#sidebar:hover ul {
		background: url('../../images/sidebar-display.png') 211px center no-repeat ;
	}
	#sidebar.active ul {
		background: url('../../images/sidebar-display.png') 211px center no-repeat ;		
	}
	#sidebar ul li {
		margin: 0; padding: 0;
		font-family: "museo-slab-light", Georgia, sans-serif;
		font-weight: bold;
		text-align: left;
	}

	#sidebar ul li a {
		text-decoration: none;
		display: block;
		padding: 15px 0px 15px 40px;
		border-bottom: 1px solid #A6A8AB;
		border-top: 1px solid #F1F1F2;
		color: #58595B;
		background: #E6E7E8 url('../../images/markers/generic.png') 10px 10px no-repeat;
	}
	#sidebar ul li a:hover {
		color: #F1F1F2;
		background-color: #929497;
	}
	#sidebar ul li:first-child {
		border-top: 1px solid #A6A8AB;
	}







	/* Specific colours and styling */
	
	#home img {margin-top: 30px;}

	#breastclinic {background-image: url('../../images/backgrounds/breastclinic.png');}
	#breastclinic h1 {background-color: #744D90;}
	#breastclinic .factoid {color: #9071A7;}
	#breastclinic .factoid em, #breastclinic blockquote  {color: #744D90;}
	#breastclinic .time, #breastclinic .bqstart {color: #C8B8D3;}
	#breastclinic .coords, #breastclinic #viewmore:hover {background-color: #C8B8D3;}
	#breastclinic #viewmore {background-color: #AC95BD;}
	
	#mentalhealth {background-image: url('../../images/backgrounds/mentalhealth.png');}
	#mentalhealth h1 {background-color: #CA4D55;}
	#mentalhealth .factoid {color: #D47177;}
	#mentalhealth .factoid em, #mentalhealth blockquote  {color: #CA4D55;}
	#mentalhealth .time, #mentalhealth .bqstart {color: #EAB8BB;}
	#mentalhealth .coords, #mentalhealth #viewmore:hover {background-color: #EAB8BB;}
	#mentalhealth #viewmore {background-color: #DF9499;}
	
	#communitycare {background-image: url('../../images/backgrounds/communitycare.png');}
	#communitycare h1 {background-color: #8ACACB;}
	#communitycare .factoid {color: #A1D5D6;}
	#communitycare .factoid em, #communitycare blockquote  {color: #8ACACB;}
	#communitycare .time, #communitycare .bqstart {color: #C4E5E5;}
	#communitycare .coords, #communitycare #viewmore:hover {background-color: #C4E5E5;}
	#communitycare #viewmore {background-color: #B9DFE0;}
	
	#nicu {background-image: url('../../images/backgrounds/nicu.png');}
	#nicu h1 {background-color: #BB64A8;}
	#nicu .factoid {color: #C883B9;}
	#nicu .factoid em, #nicu blockquote  {color: #BB64A8;}
	#nicu .time, #nicu .bqstart {color: #E4C1DC;}
	#nicu .coords, #nicu #viewmore:hover {background-color: #E4C1DC;}
	#nicu #viewmore {background-color: #D6A2CB;}
	
	#picu {background-image: url('../../images/backgrounds/picu.png');}
	#picu h1 {background-color: #D77D39;}
	#picu .factoid {color: #DF9761;}
	#picu .factoid em, #picu blockquote  {color: #D77D39;}
	#picu .time, #picu .bqstart {color: #EFCBB0;}
	#picu .coords, #picu #viewmore:hover {background-color: #EFCBB0;}
	#picu #viewmore {background-color: #E7B188;}
	
	#pediatricrehab {background-image: url('../../images/backgrounds/pediatricrehab.png');}
	#pediatricrehab h1 {background-color: #BDC651;}
	#pediatricrehab .factoid {color: #CAD174;}
	#pediatricrehab .factoid em, #pediatricrehab blockquote  {color: #BDC651;}
	#pediatricrehab .time, #pediatricrehab .bqstart {color: #DEE2A8;}
	#pediatricrehab .coords, #pediatricrehab #viewmore:hover {background-color: #DEE2A8;}
	#pediatricrehab #viewmore {background-color: #D7DD96;}
	
	#emergency {background-image: url('../../images/backgrounds/emergency.png');}
	#emergency h1 {background-color: #D2AC2B;}
	#emergency .factoid {color: #DBBD56;}
	#emergency .factoid em, #emergency blockquote  {color: #D2AC2B;}
	#emergency .time, #emergency .bqstart {color: #EDDEAA;}
	#emergency .coords, #emergency #viewmore:hover {background-color: #EDDEAA;}
	#emergency #viewmore {background-color: #E4CD80;}
	
	#letter {background-image: url('../../images/backgrounds/letter.png');}
	#letter h1 {background-color: #ECB646;}
	#letter .factoid {color: #F0C56B;}
	#letter .factoid em, #letter blockquote  {color: #ECB646;}
	#letter .time, #letter .bqstart {color: #F7E2B5;}
	#letter .coords, #letter #viewmore:hover {background-color: #F7E2B5;}
	#letter #viewmore {background-color: #F4D390;}
	#letter .quote_source {margin-bottom: 1.5em; color: #F0C56B;}
	
	#financials {background-image: url('../../images/backgrounds/financials.png');}
	#financials h1 {background-color: #B74F08;}
	#financials .factoid {color: #C57239;}
	#financials .factoid em, #financials blockquote  {color: #B74F08;}
	#financials .time, #financials .bqstart {color: #E2B99C;}
	#financials .coords, #financials #viewmore:hover {background-color: #E2B99C;}
	#financials #viewmore {background-color: #D4956B;}	
	#financials .quote_source {margin-bottom: 1.5em; color: #C57239;}
	.form-header {background-color: #B74F08; padding: 10px 20px; margin: 3em 0 .25em 0;}
	.form-header h2, .form-header h3 {color: #fff;}
	.form-header h3 {margin-bottom: 0; text-transform: uppercase; font-size: 1.2em;}
	
	table {width: 100%; margin: 1em 0 2em 0; font-size: .95em;}
	thead {color: #A6A8AB; text-transform: uppercase; letter-spacing: 1px;}
	.small {font-size: .8em; display: block; line-height: 1.2em;}
	td, th {text-align: right; padding: 2px 5px;}
	td:first-child {width: 300px; text-align: left;}
	th:first-child {text-align: left;}
	tfoot {background-color: #C57239; color: #fff;}
	tfoot td {padding: 5px 5px;}
	tfoot.subtotal {color: #B74F08; background-color: #E2B99C;}

	
	#achievements {background-image: url('../../images/backgrounds/achievements.png');}
	#achievements h1 {background-color: #4657BC;}
	#achievements .factoid {color: #6B79C9;}
	#achievements .factoid em, #achievements blockquote  {color: #4657BC;}
	#achievements .time, #achievements .bqstart {color: #B5BCE4;}
	#achievements .coords, #achievements #viewmore:hover {background-color: #B5BCE4;}
	#achievements #viewmore {background-color: #909AD7;}
	#achievements .narration li:before {content: "\25A0 \0020 "; color: #4657BC;}
	
	
	/* generic grey */
	
	#download {background-image: url('../../images/backgrounds/generic.png');}
	#download h1 {background-color: #58595B;}
	#download .factoid, #home .factoid {color: #808184;}
	#download .factoid em, #download blockquote  {color: #58595B;}
	#download .time, #download .bqstart {color: #D0D2D3;}
	#download .coords, #download #viewmore:hover {background-color: #D0D2D3;}
	#download #viewmore {background-color: #A6A8AB;}
	
	
	/* #sidebar links */
	
	#sidebar #breastclinic-link:hover {background-color: #C8B8D3;}
	#sidebar #mentalhealth-link:hover {background-color: #EAB8BB;}
	#sidebar #communitycare-link:hover {background-color: #C4E5E5;}
	#sidebar #nicu-link:hover {background-color: #E4C1DC;}
	#sidebar #picu-link:hover {background-color: #EFCBB0;}
	#sidebar #pediatric-link:hover {background-color: #DEE2A8;}
	#sidebar #emergency-link:hover {background-color: #EDDEAA;}


	#sidebar #breastclinic-link, #sidebar #breastclinic-link.selected {background-image: url('../../images/markers/breastclinic.png'); background-color: #E3DCE9;}
	#sidebar #mentalhealth-link, #sidebar #mentalhealth-link.selected {background-image: url('../../images/markers/mentalhealth.png'); background-color: #F4DBDD;}
	#sidebar #communitycare-link, #sidebar #communitycare-link.selected {background-image: url('../../images/markers/communitycare.png'); background-color: #DCEFF0;}
	#sidebar #nicu-link, #sidebar #nicu-link.selected {background-image: url('../../images/markers/nicu.png'); background-color: #F1E0EE;}
	#sidebar #picu-link, #sidebar #picu-link.selected {background-image: url('../../images/markers/picu.png'); background-color: #F7E5D7;}
	#sidebar #pediatric-link, #sidebar #pediatric-link.selected {background-image: url('../../images/markers/pediatric.png'); background-color: #EBEECB;}
	#sidebar #emergency-link, #sidebar #emergency-link.selected {background-image: url('../../images/markers/emergency.png'); background-color: #F6EED5;}

	/* selected link */
	
	#sidebar ul li a.selected, #sidebar #breastclinic-link.selected, #sidebar #mentalhealth-link.selected, #sidebar #communitycare-link.selected, #sidebar #nicu-link.selected, #sidebar #picu-link.selected, #sidebar #pediatric-link.selected, #sidebar #emergency-link.selected {
		background-image: url('../../images/markers/selected.png');
		background-position: 10px 12px;
		padding-left: 45px;
	}



/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; text-align: left; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */
.post-to-wall {
    background: none repeat scroll 0 0 #ECEEF5;
    border: 1px solid #CAD4E7;
    border-radius: 3px 3px 3px 3px;
    color: #3B5998;
    cursor: pointer;
    padding: 3px 6px 4px;
    white-space: nowrap;
    text-decoration: none;
    font: 11.5px 'lucida grande';
    float: left;
}
.fb-like {
	padding-left: 5px;
	width: 375px;
}
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


